@model EmployeeDirectory.Features.Account.ChangePassword.Command
@{
    ViewBag.Title = "Change Password";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
    @Html.Input(x => x.CurrentPassword)
    @Html.Input(x => x.NewPassword)
    @Html.Input(x => x.ConfirmPassword)

    <div>
        @Html.SubmitButton("Change Password")
        @Html.CancelButton(Url.Action("Index", "Home"))
    </div>
}