@model EmployeeDirectory.Features.Employee.RegisterEmployee.Command
@{
    ViewBag.Title = "Register New Employee";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
    @Html.Input(x => x.Email)
    @Html.Input(x => x.Password)
    @Html.Input(x => x.ConfirmPassword)
    @Html.Input(x => x.FirstName)
    @Html.Input(x => x.LastName)
    @Html.Input(x => x.Title)
    @Html.Input(x => x.Office)
    @Html.Input(x => x.PhoneNumber)

    <div>
        @Html.SaveButton()
        @Html.CancelButton(Url.Action("Index"))
    </div>
}